Checks: '-*,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.*, value: CamelCase}
  - { key: readability-identifier-naming.ClassMemberCase, value: camelBack}
  - { key: readability-identifier-naming.MemberCase, value: camelBack}
  - { key: readability-identifier-naming.PublicMemberCase, value: camelBack}
  - { key: readability-identifier-naming.GlobalVariableCase, value: CamelCase}
  - { key: readability-identifier-naming.ConstantCase, value: UPPER_CASE}
  - { key: readability-identifier-naming.NamespaceCase, value: snake_case}
  - { key: readability-identifier-naming.EnumConstantCase, value: CamelCase}
  - { key: readability-identifier-naming.ParameterCase, value: camelBack}
  - { key: readability-identifier-naming.LocalConstantCase, value: UPPER_CASE}
  - { key: readability-identifier-naming.LocalVariableCase, value: camelBack}
  - { key: readability-identifier-naming.FunctionCase, value: CamelCase}


HeaderFilterRegex: './src/.*'
