Checks: '-*,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.PublicMethodCase, value: CamelCase}
  - { key: readability-identifier-naming.PrivateMethodCase, value: camelBack}

HeaderFilterRegex: './src/.*'