Checks: '-*,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.*, value: CamelCase}
  - { key: readability-identifier-naming.PublicMemberCase, value: CamelCase}
  - { key: readability-identifier-naming.PrivateMemberCase, value: CamelBack}
  - { key: readability-identifier-naming.GlobalVariableCase, value: CamelCase}
  - { key: readability-identifier-naming.ConstantCase, value: UPPER_CASE}
  - { key: readability-identifier-naming.NamespaceCase, value: snake_case}
  - { key: readability-identifier-naming.EnumConstantCase, value: CamelCase}
  - { key: readability-identifier-naming.ParameterCase, value: snake_case}
  - { key: readability-identifier-naming.MemberCase, value: CamelBack}
  - { key: readability-identifier-naming.LocalConstantCase, value: UPPER_CASE}
  - { key: readability-identifier-naming.LocalVariableCase, value: camelBack}
  - { key: readability-identifier-naming.FunctionCase, value: CamelCase}
  - { key: readability-identifier-naming.EnumConstantPrefix, value: k}


HeaderFilterRegex: './src/.*'
