# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

.xmake

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

test.ll

.ninja_deps
.ninja_log
build.ninja

analysis.txt

# cmake deps
cpm-package-lock.cmake
CPM_modules/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
_deps
# Executables
*.exe
*.out
*.app

tests-bin[1]_include.cmake
tests-bin[1]_tests.cmake
tests-bin
CTestTestfile.cmake
ctest

gcm.cache
.ninja_lock

Makefile
snowball
!include/snowball/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
build/
install_manifest.txt

.sn/
.sn/*
.cache/

.vscode/
corrosion/
cargo/

compile_commands.json
callgrind.out.*

install_deps_temp/
result
.direnv/
.cmake/

*.class
.vscode/
CMakeLists.txt
tests-bin\[1]_tests.cmake
tests-bin\[1]_include.cmake
Testing/Temporary/CTestCostData.txt
Testing/